@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from askbootstrap.com/preview/osahanin/light/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 May 2023 15:43:54 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="icon" type="image/png" href="img/fav.png">
    <title>Signup - Professionals Connect</title>

    <link rel="stylesheet" type="text/css" href="/assets/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/vendor/slick/slick-theme.min.css" />

    <link href="/assets/vendor/icons/feather.css" rel="stylesheet" type="text/css">

    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="bg-white">
        <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
                <div class="col-md-4 mx-auto">
                    <div class="osahan-login py-4">
                        <div class="text-center mb-4">
                            <a href="index.html"><img src="img/logo.svg" alt=""></a>
                            <h5 class="font-weight-bold mt-3">Create new account</h5>
                            <p class="text-muted">Make the most of your professional life</p>
                        </div>
                        @if (ViewBag.err!=null)
                        {
                            <p class="text-danger">@ViewBag.err</p>
                        }
                        <form asp-action="PostSignUp" asp-controller="Account" method="post">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="mb-1">First name</label>
                                        <div class="position-relative icon-form-control">
                                            <i class="feather-user position-absolute"></i>
                                            <input type="text" name="FirstName" asp-for=FirstName class="form-control">
                                            @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label class="mb-1">Last name</label>
                                        <div class="position-relative icon-form-control">
                                            <i class="feather-user position-absolute"></i>
                                            <input type="text" name="LastName" asp-for=LastName class="form-control">
                                            @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Email</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-at-sign position-absolute"></i>
                                    <input type="email" name="Email"  asp-for=Email class="form-control">
                                    @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Password (6 or more characters)</label>
                                <div class="position-relative icon-form-control">
                                    <i class="feather-unlock position-absolute"></i>
                                    <input type="password" name="Password" asp-for=Password class="form-control">
                                    @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">You agree to the <a href="#">User Agreement</a>, <a href="#">Privacy Policy</a>, and <a href="#">Cookie Policy</a>.</label>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Agree & Join </button>
                            
                            <div class="py-3 d-flex align-item-center">
                                @*<a href="forgot-password.html">Forgot password?</a>*@
                                <span class="ml-auto"> Already have account? <a class="font-weight-bold" asp-action="Login" asp-controller="Account">Sign in</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/vendor/jquery/jquery.min.js" type="c24ac2310c45c31f2d87a14b-text/javascript"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="c24ac2310c45c31f2d87a14b-text/javascript"></script>

    <script type="c24ac2310c45c31f2d87a14b-text/javascript" src="/assets/vendor/slick/slick.min.js"></script>

    <script src="/assets/js/osahan.js" type="c24ac2310c45c31f2d87a14b-text/javascript"></script>
</body>

<!-- Mirrored from askbootstrap.com/preview/osahanin/light/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 31 May 2023 15:43:55 GMT -->
</html>
